<!doctype html>
<html>
<head>
    <include file="public/head"/>
</head>
<body>
<div class="wrap">
    <include file="public/header"/>
    <div class="section">
        <div class="main">
				<pre class="agreement">PHP ThinkIMF软件使用协议

版权所有 ©2013-{:date("Y")},ThinkIMF开源社区

感谢您选择ThinkIMF内容管理框架,您可以在授权协议的允许下，最大程度的使用。
包括不限于商城开发，微信开发，智慧城市开发等。

</pre>
        </div>
        <div class="bottom text-center">
            <a href="{:url('index/step2')}" class="btn btn-primary">{:lang('ACCEPT')}</a>
        </div>
    </div>
</div>
<include file="public/footer"/>
</body>
</html>